<head>
    <style>
        body {
            background-image: url("static/background.png");
            background-repeat: repeat;
        }
        h1 {
        color: #ffffff;
        }
        p {
        color: #ffffff;
        }
        .star-image {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<img src="static/star.gif", class="star-image">
<h1 style="text-align: center;">This is a website! :3</h1>
<p style="text-align: center;">there's not much to it.. but hopefully there will be more soon!</p>